.fadeup {
  animation-name: fadeup;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.effect-fade {
  opacity: 0;
  transform: translate(0, 45px);
  transition: all 2000ms;
}

.effect-fade.fade-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.effect-underline:after {
  width: 0%;
  transition: all 3s;
}

.effect-underline.underline-scroll:after {
  width: 50%;
}